.addproduct{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;

    .addproduct-container{


    .title{
        margin-top: 1rem;
        color: rgb(21, 216, 200);
    }

.inputBox{
    display: block;
    width: 30rem;
    height: 3rem;
    margin-top: 2rem;
    // margin-bottom: 0.5rem;
    margin-left: 2rem;
    padding: 0 0.5rem;
    border: 0.5px solid rgb(21, 216, 200);
}

.invalid-input{
    display: block;
    color: red;
    font-weight: 500;
    margin-left: 2rem;
    // margin-top: -20px;
}

.addProductButton{
    padding: 0.4rem 1.2rem;
    margin-top: 2rem;
    letter-spacing: 0.5px;
    background-color: rgb(21, 216, 200);
    border: none;
    border-radius: 0.5px;

    &:hover{
        cursor: pointer;
        background-color: aquamarine;
    }
}
}
}